

html {
  background-color: #FECDA6;
  font-size: 1.2rem;
}
.introduction {
  text-align: justify;
}

button {
    background-color: #102C57;
    color: white;
    height: 3rem;
    font-size: larger;
    border-radius: 10px;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 1.5rem;
}
p {
  text-align: justify;
}
.education {
  display: inline-block;
}

.navigator  {
  display: flex; 
  font-size: 1.2rem;
  gap: 10px;
  }
  
  /* Change the color of links on hover */
  .navigator a:hover {
    background-color: #ddd;
    color: black;
  }
  
  table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    letter-spacing: 1px;
  }
  
  thead,
  tfoot {
    background-color: #FF5B22;
    font-weight: 900;
  }
  
  th, td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
  }
  
  td:last-of-type {
    text-align: center;
  }
  
  tbody > tr:nth-of-type(even) {
    background-color: #A9A9A9;
  }
  
  tfoot th {
    text-align: right;
  }
  
  tfoot td {
    font-weight: bold;
  }
  #education {
    display: flex;
    gap: 100px;
  }
  .footer {
    margin-top: 200px;
    font-size: 1rem;
    text-align: right;
  }

  @media (max-width: 600px) {
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1rem;
    }
    html {
      font-size: 1rem;
    }
    .navigator {
      display: block; 
      font-size: 1rem;
      gap: 5px;
    }
    #education {
      display: block;
      gap: 20px;
      width: 100%;
    }
    iframe {
      width: 75%;
    }
    table {
      font-size: 0.8rem;
    }
    .footer {
      margin-top: 150px;
      font-size: 0.8rem;
      text-align: center;
    }
  }